*
!src/
!src/**
**/__pycache__/
**/__pycache__/**
**/*.py[cod]
!scripts/
scripts/*
!scripts/lab.py
!lab/
lab/*
!lab/Dockerfile.controller
!lab/__init__.py
!lab/host/
!lab/host/**
!lab/controller/
!lab/controller/**
lab/**/__pycache__/
lab/**/__pycache__/**
lab/**/*.py[cod]
